@charset "ISO-8859-1";

body {
    background-color: #f8f9fa;
}


.dropdown-toggle::after {
    content: none; /* Remove default Bootstrap dropdown arrow */
}

.oferta{
    text-align: center;
}

.card{
    padding-right: 2%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.mainContainer{
    transition: 0.5s;
}

.mainContainer#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px, 30px, rgba(0, 0, 0, .30);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}